
<!DOCTYPE html>
<html>
    <head>
        
        <title>CWK2:RESTAURANT APP</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <!-- this is to allow JQuery -->
        {% load static %}
        <link rel=”stylesheet” href= "{% static 'app.css' %}">
    </head>
    <body>
           <h1>Restaurant App</h1>
                
                <div class="container1">
                    <h2>Meals Ordered:</h2> 
                    <ul id="meallist">
                        <!-- enter python for making list -->
                         
                    </ul>
                <button id="FetchMeals"> Get Meals</button>
                <br>
                <br>
                <br>
                <br>
                <div id="container2">
                    <form id="newmealform">
                        {% csrf_token %}
                        <h3>Enter Meal details:</h3>
                        <br>
                            Meal owner:<input type="text" name="meal-owner">
                            <br>
                            <!-- Date and Time:<input type="datetime-local" name ="date-time"> -->
                            <br>
                            Total Cost:<input type="" name="total-cost">
                            <br>
                            Feedback:<input type="text" name="feedback">
                            <br>
                            Food Choice: <input type="radio" name="food-choice" >
                            <!-- create a radio button for each food-->
                            <br>
                            Drink Choice:<input type="radio"name="bev-choice">
                            <!-- create a radio button for each beverage-->
                            <br>
                    </form>
                    <button id = "addMeal">AddMeal</button>
                </div>
                <script>
                    const fetchmeals = ()=>{
                                        $.ajax({
                                            url: "{% url 'meals' %}",
                                            success: (data)=>{
                                                // console.log(data.meals);
                                                //success function for what happens when the ajax request works
                                                //console.log(data.meals[0]);
                                                for (let i=0;i<data.meals.length;i++) //for each meal item in the response
                                                {  
                                                    $("#meallist").append("<li id=" + data.meals[i].id + ">" + data.meals[i].meal_owner+ "</li>")
                                                    .append("<form id='new-name'><input type='text' name='meal-owner'></form>")
                                                    .append("<button class='edit-button' id=" + data.meals[i].id+ ">Edit Meal item</button>" )
                                                    .append("<br><button id=" + data.meals[i].id  + "  class='delete-button'> Delete " + data.meals[i].meal_owner + "</button><br>")
                                                }
                                            }
                                        })};
                    
                $(document).ready(function(){
                    $("#FetchMeals").click(()=>{
                        console.log("this button worked");
                        $.ajax({
                            url: "{% url 'meals' %}",
                            success: (data)=>{
                                // console.log(data.meals);
                                //success function for what happens when the ajax request works
                                //console.log(data.meals[0]);
                                for (let i=0;i<data.meals.length;i++) //for each meal item in the response
                                { 
                                    $("#meallist").append("<li id=" + data.meals[i].id + ">" + data.meals[i].meal_owner+ "</li>")
                                    .append("<form id='new-name'><input type='text' name='meal-owner'></form>")
                                    .append("<button class='edit-button' id=" + data.meals[i].id+ ">Edit Meal item</button>" )
                                    .append("<br><button id=" + data.meals[i].id  + "  class='delete-button'> Delete " + data.meals[i].meal_owner + "</button><br>")
                                    
                                    //make class delete class?
                                    //pass id in and delete meal of that ID
                                }
                                $(".delete-button").on("click", function() {
                                    console.log(this.id);
                                    const id = this.id;
                                    $.ajax({
                                        url: "{% url 'meals-change' %}",
                                        method:"DELETE",
                                        data: { 'id' : id },
                                        success: ()=>{
                                            //success method
                                            alert("this delete did work");
                                            $('#meallist').empty()
                                            fetchmeals();
                                        },
                                        error: ()=>{
                                            alert("this delete did not work");
                                        }

                                    })
                                })
                                $(".edit-button").on("click", function(){
                                    console.log(this.id);
                                    const id = this.id;
                                    // name will be new name from edit-name-type
                                    name = $("#new-name").serialize().replace('meal-owner=','');
                                    //console.log("value:" +name);
                                    
                                    $.ajax({
                                        url: "{% url 'meals-change' %}",
                                        method:"PUT",
                                        data: { 
                                            'id' : id,
                                            'name': name
                                    },
                                        success: ()=>{
                                            //success method
                                            alert("this edit did work");
                                            $('#meallist').empty()
                                            fetchmeals();
                                        },
                                        error: ()=>{
                                            alert("this delete did not work");
                                        }

                                    })

                                })
                            },
                            error :  ()=>{
                                console.log ('something went wrong')
                                $("#container").append("<p>" +  "something went wrong!" + "</p>"); 
                            }
                        })
                    })

                    
                })

                $("#addMeal").click(()=>{
                    console.log("this button worked");
                    $.ajax({
                        url: "{% url 'meals' %}",
                        method: "POST",
                        data: $("#newmealform").serializeArray(),
                        success: (data)=>{
                                //empty list then append
                                console.log(data)
                                //$('#meallist').empty()
                                {
                                    $("#meallist").append("<li id=" + data.id + ">" + data.meal_owner+ "</li>")
                                    .append("<form id='new-name'><input type='text' name='meal-owner'></form>")
                                    .append("<button class='edit-button' id=" + data.id+ ">Edit Meal item</button>" )
                                    .append("<br><button id=" + data.id  + "  class='delete-button'> Delete " + data.meal_owner + "</button><br>")
                                }
                        } ,
                        error :  ()=>{
                        console.log ('something went wrong')
                        //an alert messag? followed by clearing everything?                             
                    }})
                 })

     
               
                    
                $(
                    $("#showmore").click(()=>
                    {
                       //show more of each thing
                    })
                )

                function deleteHandler(event){
                    console.log('this is going to work')
                    console.log(this.id);
                }

                
                </script>
            </div> 
    </body>      
</html>